*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Lobster", serif;
    font-family: "Lilita One", serif;
    font-family: "Bebas Neue", serif;
    font-family: "Pacifico", serif;
    font-family: "Noto Sans SC", serif;
}
body{
    background-color: rgb(46, 42, 42);

    font-family: "Dancing Script", serif;



}

#navbar{
    position: relative;
    font-family: "Lilita One", serif;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0px auto ;
    margin-top: 42px;
    border-radius: 122px;

    /* justify-content: center; */
}
#navbar::before{
    border-radius: 122px;
    content: "";
    position: absolute;
    background-color: rgb(22, 21, 23);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

#navbar div{
    width: 60%;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 21px 10px;
}

#navbar ul{
    padding-top: 10px;

    display: flex;
}

#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    display: block;
    padding: 10px 22px;
    text-decoration: none;
    transition:  0.3s ease;

}
#navbar ul li a:hover{
    transform: translateY(9px);
    display: block;
    transition:  0.3s ease;

}



#logo2  {
    border-radius: 100%;
    width: 5%;
    padding: 0px 0px;
    margin-right: 52px;
}
#logo2:hover{
    transform: rotate(360deg);
    transition: 0.9s ease;
}


#about{
    width: 100%;
    margin: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about span{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   background-color: rgba(0, 0, 0, 0.237);
}
#about::before{
    content: "";
    position: absolute;
    background: url('https://github.com/rizwanms2022/MyWeb-Responsive-/blob/main/Wallpaers/about1.jpg?raw=true') no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}


.aboutinp{
    width: 66%;
    margin: auto;
    margin-top: 5rem;
    font-size: 1.92rem;
    font-size: 1.82rem;

}

.aboutinp p{
    padding-top: 20px;
    line-height: 1.5;

}

.aboutin h3{
   padding: 15px 0px;
}
.aboutin h1{
    color: rgb(250, 250, 120);   
}


.section{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section img{
    width: 40%;
    margin: auto;

}
.section div{
    width: 45%;
    margin: auto;
}
.section div p{
    line-height: 1.82;
}





@media (max-width: 750px){


    #navbar{
        position: fixed;
        z-index: 2;
        width: 100%;
        margin: 0;
    
    }
    #navbar::before{
        border-radius: 0px;
        opacity: 1;
    }

   
    #navbar ul li a{
        border-right: none;
        font-size: 0.7rem;
        padding: 0px 5px;
    }

    #logo2  {
        border-radius: 100%;
        width: 8%;
        padding: 10px 19px;
        margin: 0;
    }

    #about{
        width: 100%;
        margin: auto;
        height: 80vh;
        /* position: absolute; */
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #about span{
        font-size: 0.5rem;
        width: 100%;
        margin-top: 50%;
    }
    #about::before{
        height: 80vh;
        opacity: 1;
    
    }
    .aboutinp h3{
    margin-bottom: 10px;        
    
    }

    .aboutinp{
        border: none;
        margin: auto;
        width: 90%;
        padding: 0;
    }
    
    .aboutinp p{
        font-size: 0.71rem;
    }
    
    .aboutin h3{
        font-size: 0.81rem;
    
    }
    
    .aboutin h1{
        font-size: .9rem;
    
    }
    .aboutinp h3{
        padding-top: 22px;
        font-size: 0.9rem;
    
    }


    .section{
        margin-top: 4rem;
        width: 95%;
        flex-direction: column;
    }
    .section img{
        width: 90%;
        padding-bottom: 10px;

    
    }
    .section div{
                width: 95%;
    }
    .section div p{
        font-size: 0.81rem;
        line-height: 1.6;
    }
    .section div li{
       list-style: none;
    }
    
    
    
