*{
    margin: 0;
    padding: 0;
    color: white;
    /* font-family: "Pacifico", serif;
    font-family: "Shadows Into Light", serif; */
}
body{
    background-color: rgb(46, 42, 42);

    font-family: "Dancing Script", serif;



}

#navbar{
    position: relative;
    font-family: "Lilita One", serif;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#navbar div{
    width: 60%;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 21px 10px;
}

#navbar ul{
    padding-top: 10px;

    display: flex;
}

#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    display: block;

    padding: 10px 22px;
    text-decoration: none;
    transition: background-color 0.9s ease;

}
#navbar ul li a:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.777);
    display: block;
    transition: background-color 0.9s ease;

}



#logo2  {
    border-radius: 100%;
    width: 3%;
    padding: 12px 22px;
}

#home{
    height: 630px;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}


#home video{
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -2;
    opacity: 1; 
    overflow: hidden;
}
#home div{
    width: 80%;
}
#home div h1,h2{
    font-size: 3rem;
}
#home div p{
    font-size: 1.6rem;
}

#home span img{
    width: 2%;
    padding: 16px 8px 0px 0px;
}
#home span img:hover{
    border-bottom: 3px solid white;
}


#home div button{
    cursor: pointer;
    margin-top: 22px;
    padding: 10px 22px;
    font-size: 0.81rem;
    background-color: white;
    color: black;
}
#home div button:hover{
    background-color: black;
    color: white;
}

#contact{
    display: flex;
    width: 100%;
    height: 480px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-bottom: 5px solid white;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 480px;
    background: url('contact-us.jpg') no-repeat center center/cover;
    z-index: -2;
    opacity: 0.9;
    filter: blur(3px);
}

.chalid{
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
    border: 2px solid yellow;
}
.inputs{
    padding: 3px 8px;
    border: none;
    margin: 5px 2px;
    height: 1.42rem;
    width: 70%;
    
}






.grid-container{
    background-color: rgb(46, 42, 42);
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 10px; /* Space between sections */ 
    padding: 4px;
    overflow: hidden;
}


#about{
    width: 70%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}


.aboutin{
    border-style:  none none none double;
    width: 40%;
    padding: 10px 72px;
    display: flex;
    flex-direction: column;    
}
.aboutinp{
    border-style:  none double none none;
    margin: 0;
    margin-left: 45%;
    width: 40%;
    padding: 10px 72px;
    display: flex;
    flex-direction: column;    
}

.aboutinp p{
    line-height: 1.6;
}

.aboutin h3{
   padding: 15px 0px;
}
.aboutin h1{
    color: rgb(250, 250, 120);   
}



#projectheading{
    font-size: 2.1rem;
    color: rgb(255, 255, 132);
    width: 100%;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#project{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid yellow; */
    width: 100%;
    height: auto;
    margin: auto;
    flex-wrap: wrap;
    overflow: initial;
}

.projectcard{
    background-color: rgb(60, 56, 56);

    /* border: 2px solid yellow; */
    margin: 12px auto;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    transition: filter 0.9s ease;

    flex-direction: column;
}
.projectcard img{
    filter: blur(1px);
    margin: auto;
    width: 100%;
    height: auto;
    transition: filter 0.4s ease;
}
.projectcard img:hover{
    filter: blur(0px);
}
.projectcard p{
    font-size: 0.81rem;
    padding: 2px 10px;
}
.projectcard h3{
    padding: 2px 10px;
}
.projectcard a{
    border: 1px solid white;
    padding: 5px 20px;
    font-size: 0.71rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 9px;
    margin-left: 57%;
    width: 20%;
    text-decoration: none;

}
.projectcard p:hover,a:hover,h3:hover,button:hover{
    text-decoration: underline;

}





#backgroundcontact{
    background-color: rgb(57, 57, 57);
    padding: 32px 10px;
transition: background-color 0.9s ease;

}

#backgroundcontact:hover{
    background-color: rgb(72, 71, 71);
transition: background-color 0.9s ease;


padding: 32px 10px;
}
#contact-form {
    background-color: rgba(0, 0, 0, 0.147);
    padding: 20px 50px;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    margin: 2px auto;

}

#contact-form h2 {
    color: white;

    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.form-group label {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-weight: bold;
    color: white;
    
}

.form-group input,
.form-group textarea {
    color: white;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;

    
}
#message{
    padding: 3px 8px;
    border: none;
    margin: 5px 2px;
    height: 12rem;
    width: 70%;
}

button {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: #37597e;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

button:hover {
    background-color: rgb(58, 58, 135);
}




#end{
    display: flex;
    width: 100%;
    padding: 14px 0;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
}
#end:hover{
    text-decoration: underline;
    color: rgb(99, 99, 252)
}






















@media (max-width: 750px){

    #home video{
        height: 45%; 
        object-fit: cover; 
        z-index: -2;
        opacity: .6; 
    }
    #navbar ul li a{
        font-size: 0.8rem;
        padding: 10px 8px;
    }

    #logo2  {
        border-radius: 100%;
        width: 8%;
        padding: 10px 22px;
    }



    #home{
        height: 280px;
        padding: 12px 0px;
        align-items: center;
        justify-content: center;
    
    }
    
    #home div{
        height: 84%;
        width: 88%;

    }
    #home div h1,h2{
        font-size: 2.1rem;
    }
    #home div h2{
        font-size: 1.92rem;
    }
    #home div p{
        opacity: 0;
        font-size: 1px;
    }

#home span img{
        width: 6%;
        padding: 0px 8px 0px 0px;
        padding-top: 7px;
    }

#home div button{
    cursor: pointer;
    margin-top: 15px;
    padding: 6px 15px;
    border-radius: 10%;
    font-size: 0.81rem;
    background-color: black;
    color: white;
}
#home div button:hover{
    background-color: black;
    color: white;
}



#contact-form {
    padding: 10px 10px;
    border-radius: 0px;
    text-align: center;
    width: 320px;

}

.form-group input,
.form-group textarea {
    color: black;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.75rem;

}

#contact-form h2 {
    font-size: 2rem;
}










.grid-container{
    background-color: rgb(46, 42, 42);
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 10px; /* Space between sections */ 
    padding: 4px;
    overflow: hidden;
}


#about{
    width: 90%;
    margin: auto;
}

.aboutin img{
    width: 70%;
    margin: auto;
}
.aboutin{
    border: none;
    width: 100%;
    padding: 0;
}
.aboutinp{
    border: none;

    margin: 0;
    width: 100%;
    padding: 0;
}

.aboutinp p{
    font-size: 0.71rem;
}

.aboutin h3{
    
    font-size: 0.81rem;

}

.aboutin h1{
    font-size: 0.9rem;

}
.aboutinp h3{
    padding-top: 22px;
    font-size: 0.9rem;

}



#end{
    display: flex;
}


.footercontainer{
    font-size: 0rem;
    height: 100%;
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
    display: flex;
}

.footercontainer img{
    width: 9%;
    padding: px;
}












}



