*{
    margin: 0;
    padding: 0;
    color: white;
    /* font-family: "Pacifico", serif;
    font-family: "Agu Display", serif;
    font-family: "Indie Flower", serif;
    font-family: "Shadows Into Light", serif; */
}
body{
    background-color: rgb(67, 67, 67);
    font-family: "Dancing Script", serif;

}

#navbar{
    position: relative;
    font-family: "Lilita One", serif;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    
}

#navbar div{
    width: 60%;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 21px 10px;
}

#navbar ul{
    padding-top: 10px;

    display: flex;
}

#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    display: block;

    padding: 10px 22px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    display: block;
}



#logo2  {
    border-radius: 100%;
    width: 3%;
    padding: 12px 22px;
}

#home{
    height: 530px;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#home video{
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 625px; 
    object-fit: cover; 
    z-index: -2;
    opacity: .6; 
    overflow: hidden;
}
#home div{
    width: 80%;
}
#home div h1,h2{
    font-size: 3rem;
}
#home div p{
    font-size: 1.6rem;
}

#home span img{
    width: 2%;
    padding: 16px 8px 0px 0px;
}
#home span img:hover{
    border-bottom: 3px solid white;
}


#home div button{
    cursor: pointer;
    margin-top: 22px;
    padding: 6px 22px;
    font-size: 0.81rem;
    background-color: white;
    color: black;
}
#home div button:hover{
    background-color: black;
    color: white;
}

#contact{
    display: flex;
    width: 100%;
    height: 480px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-bottom: 5px solid white;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 480px;
    background: url('contact-us.jpg') no-repeat center center/cover;
    z-index: -2;
    opacity: 0.9;
    filter: blur(3px);
}

.chalid{
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
    border: 2px solid yellow;
}
.inputs{
    padding: 3px 8px;
    border: none;
    margin: 5px 2px;
    height: 1.42rem;
    width: 70%;
    box-shadow: 2px 2px 5px 2px black;
}
#message{
    padding: 3px 8px;
    border: none;
    margin: 5px 2px;
    height: 12rem;
    width: 70%;
    box-shadow: 2px 2px 5px 2px black;
}

#end{
    height: 45px;
}











.grid-container{
    background-color: rgb(85, 77, 62);
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 10px; /* Space between sections */ 
    padding: 4px;
    overflow: hidden;
}





.contact-form {
    background-color: rgba(69, 1, 1, 0.825);
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
    margin: 2px auto;

}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.form-group label {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    color: black;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

button:hover {
    background-color: rgb(34, 34, 255);
}






















@media (max-width: 750px){

    #home video{
        height: 45%; 
        object-fit: cover; 
        z-index: -2;
        opacity: .6; 
    }
    #navbar ul li a{
        font-size: 0.8rem;
        padding: 10px 8px;
    }

    #logo2  {
        border-radius: 100%;
        width: 8%;
        padding: 10px 22px;
    }



    #home{
        height: 280px;
        padding: 12px 0px;
        align-items: center;
        justify-content: center;
    
    }
    
    #home div{
        height: 84%;
        width: 88%;

    }
    #home div h1,h2{
        font-size: 2.1rem;
    }
    #home div h2{
        font-size: 1.92rem;
    }
    #home div p{
        opacity: 0;
        font-size: 1px;
    }

#home span img{
        width: 6%;
        padding: 0px 8px 0px 0px;
        padding-top: 7px;
    }

#home div button{
    cursor: pointer;
    margin-top: 15px;
    padding: 6px 15px;
    border-radius: 10%;
    font-size: 0.81rem;
    background-color: black;
    color: white;
}
    
#home div button:hover{
    background-color: black;
    color: white;
}

.contact-form {
    padding: 10px 10px;
    border-radius: 40px;
    text-align: center;
    width: 330px;

}

.form-group input,
.form-group textarea {
    font-size: 0.75rem;
    color: black;
    width: 90%;
    padding: 5px;
    border-radius: 15px;
}

.contact-form h2 {
    font-size: 1.82rem;
}


}



